<!-- title -->
<%- js(['https://code.jquery.com/jquery-2.1.4.min.js']) %>
<!--<%- css(['https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css']) %>-->
<%- js(['https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js']) %>

<script type="Text/JavaScript">
$(document).ready(function(){

})
</script>

<style type="Text/CSS">
hr {
	border:0; height:10px; background-color:#d4d4d4;
	color:#d4d4d4	/* IE6 */
}
</style>

	<!--  <% console.log("==============") %>  -->
	<!--  <% console.log(site.categories) %>  -->
	<!--  <% console.log("==============") %>  -->
	<div class="archives-wrap">
		 <h1 class="archive-year" style="font-size:40px"><%= page.title %></h1>
		 <br><br><hr/><br><br>
		<% if (theme.widgets.length) { %>
		    <div class="col-md-9">
		<% } else { %>
			<div class="col-md-12">
		<% } %>
        <div>
		    <% site.categories.sort('name').each(function(item){ %>
		    <h1 class="archive-year" id="<%= item.name %>" data-target="#modal-<%= item.name %>"> <%= item.name %> <b class="caret"></b></h4>
		    <div id="modal-<%= item.name %>"  class="archives">
		        <% site.posts.sort('date', -1).forEach(function(it){ %>
			        <% if (it.categories.length == 1 && it.categories.data[0]._id == item._id){ %>
			        <article class="archive-article archive-type-post">
			        <% var d = new Date(it.updated['_d']) %>
		        	<div class="archive-article-inner">
		        	    <header class="archive-article-header">
                                  <a href="<%= config.root %><%= it.path %>"  class="archive-article-date">
                                      <time datetime="<%=it.updated['_d'] %>" itemprop="datePublished"> <%= d.getMonth() %>月<%= d.getDate() %>日 </time>
                                  </a>
                        
		        	<h1 itemprop="name">
		   	        <a class="archive-article-title" href="<%= config.root %><%= it.path %>" <% if (it.description) { %> title="<%= it.description %>" <% } %>><%= it.title %></a>
		   	        </h1>
		   	            </header>
		   	        </div>
			        </article>
			        <% } %>
		        <% }); %>
		   </div>
		   <br><br>
		   <% }); %>
		   </div>
        </div>

	</div> <!-- col-md-9 -->




    <header class="archive-article-header">
  

    </header>
  

